:root {
  --background: #ffffff;
  --background-alt: #f1f7fd;
  --foreground:  #0a192f;
  --callout: #66a2ef;
  --hover: #cacfd5;
  --placeholder: #9aa3ad;
  --input: #dbe9f9;

  --wrap: calc(100% - 10rem);
  --mobile-wrap: calc(100% - 2rem);
  --space: 2rem;
  --half-space: 1rem;
  --quarter-space: 0.5rem;

  --base: 16px;
  --font: -apple-system, BlinkMacSystemFont, sans-serif;
  --transition: all 0.2s;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::selection {
  background-color: var(--hover);
  color: var(--link);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: var(--base);
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font);
  line-height: 1.3;
  display: grid;
  grid-template-rows: 6em 1fr 6em;
  align-items: center;
}

header {
  grid-area: 1/1/2/2;
  width: var(--wrap);
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--callout);
  transition: var(--transition);
  padding: 0.5rem;
}

a:hover,
a:focus {
  color: var(--hover);
}

main {
  grid-area: 2/1/3/2;
  width: calc(100% - 10rem);
  max-width: 40em;
  display: block;
  margin: 0 auto;
  background-color: var(--background-alt);
  padding: 3rem;
  border-radius: 0.5em;
}

h2 {
  display: inline-block;
  margin: 0;
  padding-bottom: var(--space);
}

a,
input:focus,
button:focus {
  outline: none;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 5em;
  font-size: 0.9em;
  padding: var(--quarter-space) var(--half-space);
  color: var(--foreground);
  background-color: var(--input);
  font-weight: 500;
  -webkit-appearance: none;
}

input::placeholder {
  color: var(--placeholder);
}

input:focus::placeholder {
  color: transparent;
}

button {
  background: none;
  border: none;
  transform: translateX(11px);
  cursor: pointer;
  padding: 0.5rem;
  -webkit-appearance: none;
}

button svg {
  height: 35px;
  width: 35px;
  fill: var(--hover);
}

input:focus + button svg {
  fill: var(--foreground);
  transition: var(--transition);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 var(--space);
}

li {
  display: grid;
  grid-template-columns: 85% 15%;
  margin-bottom: var(--half-space);
  font-weight: 500;
  align-items: center;
  justify-items: center;
}

li:last-of-type {
  margin-bottom: var(--space);
}

p {
  margin: 0;
  justify-self: start;
  font-size: 0.9em;
}

li input[type="checkbox"] {
  position: relative;
  height: 25px;
  width: 25px;
  transform: translateX(0.3em);
  justify-self: end;
  -webkit-appearance: none;
  border: none;
}

li input[type="checkbox"]:before {
  content: "";
  border-radius: 2rem;
  border: 3px solid var(--hover);
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  display: inline-block;
}

li input[type="checkbox"]:checked:before {
  border: 3px solid var(--foreground);
  transition: all 0.4s;
}

li input[type="checkbox"]:checked:after{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  display: inline-block;
  background-color: var(--foreground);
  font-size: 1.6em;
  border-radius: 100%;
}

footer {
  grid-area: 3/1/4/2;
  width: var(--wrap);
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Primary Mobile */
@media(max-width: 1024px) {
  main {
    padding: var(--space);
  }
}

/* Secondary Mobile */
@media(max-width: 767px) {
  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: -webkit-fill-available;
  }
  header {
    width: var(--mobile-wrap);
    align-items: baseline;
  }

  h1 {
    max-width: 10em;
  }

  a {
    transform: translateX(-0.5rem);
  }

  main {
    width: calc(100% - 2rem);
    padding: var(--half-space);
    font-size: 1.4em;
  }

  ul {
    padding: 0;
  }

  footer {
    width: var(--mobile-wrap);
  }
}
